<div fxFill fxLayout="column">
  <div class="app-header app-header--carbon">
    <div class="app-productive-heading-04">Table full</div>
  </div>
  
  <div fxFlex class="relative px-4 pb-4 pt-2">
    <div style="display: flex; justify-content: end; padding-bottom: 10px;">
      <button (click)="newProduct()" ibmButton="primary" size="field">
        Novo Produto
      </button>
    </div>
    <ng-container *ngIf="!loading">
      <ag-grid-angular class="app-ag-grid app-border-all" [modules]="modules" [gridOptions]="gridOptions">
      </ag-grid-angular>
    </ng-container>
  </div>
</div>