<div fxFill fxLayout="column">
  <div fxFlex class="app-relative">
    <div class="app-a-box app-scrollbar-fix">
      <ng-scrollbar>
        
      </ng-scrollbar>
    </div>
  </div>
  <div class="app-mini-sidebar__list">>
    <div class="app-mini-sidebar__list__item"
         ngbDropdown
         container="body">
      <div class="app-mini-sidebar__list__item__pill"
           placement="right"
           container="body"
           ngbTooltip="Account details"
           ngbDropdownToggle>
        <youpez-ibm-icon iconName="user" iconSize="24"></youpez-ibm-icon>
      </div>
      <div ngbDropdownMenu>
        <div class="app-list app-list--hover app-list--select app-list--no-border app-list--p">
          <div class="app-list__item app-list__item--no-p" ngbDropdownItem>
            <div class="px-2">
              <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatar2.jpg"/>
            </div>
            <div class="app-list__item__content mr-4">
              <div>
                <div class="app-helper-text-01">Signed in as</div>
                <div class="app-expressive-heading-02">David Robson</div>
              </div>
            </div>
          </div>
          <div class="app-list__divider"></div>
          <div class="app-list__item mb-2" ngbDropdownItem (click)="logout()">
            <div class="app-list__item__content">
              Sair
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
