<button (click)="onSideBarToggle($event)" class="app-layout__header__btn app-layout__header__btn--menu">
  <youpez-ibm-icon iconName="menu"></youpez-ibm-icon>
</button>
<img class="app-layout__header__logo app-layout__header__logo--white" src="assets/img/logo/logo-big-white.png"/>
<img class="app-layout__header__logo app-layout__header__logo--black" src="assets/img/logo/logo-big-black.png"/>
<div class="app-layout__header__tools">
  <div ngbDropdown
       placement="bottom-right"
       container="body">
    <button class="app-layout__header__btn app-layout__header__btn--icon" ngbDropdownToggle>
      <youpez-ibm-icon iconName="user" iconSize="24"></youpez-ibm-icon>
    </button>
    <div ngbDropdownMenu>
      <div class="app-list app-list--hover app-list--select app-list--no-border app-list--p">
        <div class="app-list__item app-list__item--no-p" ngbDropdownItem>
          <div class="px-2">
            <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatar2.jpg"/>
          </div>
          <div class="app-list__item__content mr-4">
            <div>
              <div class="app-helper-text-01">Signed in as</div>
              <div class="app-expressive-heading-02">David Robson</div>
            </div>
          </div>
        </div>
        <div class="app-list__divider"></div>
        <div class="app-list__item mb-2" ngbDropdownItem (click)="logout()">
          <div class="app-list__item__content">
            Logout
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
